.login-screen * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-screen .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}